<script type="text/ng-template" id="main.html"> 
  
    <form>
        <div class="form-group">
            <label for="data">Sample Data options:</label>
            <div class="checkbox" ng-repeat="fc in data.value">
                <label>
                    <input type="checkbox" ng-checked="fc.$$fav?true:false" ng-click="toggleFav(fc.title)" />
                    <widget-icon name="{{fc.$$fav?'star':'star-empty'}}"></widget-icon> 
                    {{fc.title}} 
                </label>
            </div>
        </div>
    </form>
    <p>Click on each option to post data to service and save to the database.</p>
</script>

