<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">
    <!-- SEARCH AND LIST EXAMPLE -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                
            </widget-cell>
        </widget-row>
       
        <div class="category"> 
            <widget-row> 
                <form>
  					<input type="radio" name="category" value="1" checked> Buy and Sell<br>
 					<input type="radio" name="category" value="2"> Tutoring<br>
  					<input type="radio" name="category" value="3"> Housing<br>
                    <input type="radio" name="category" value = "4"> Lost and Found<br>
				</form>
                
                
            </widget-row>
            
        </div> 
        <widget-search 
             label="" 
             placeholder="Search Classifieds" 
             search-results-title="Search Results"
             data="model" 
             min-char="2" 
             fields="['title','details']">
            <widget-filter 
                    fields="['category']" 
                    filters="[{value:'1',text:'Buy and Sell'},{value:'2',text:'Tutoring'}, {value: '3', text: 'Housing'}, {value: '4', text: 'Lost and Found'}]">
            </widget-filter>

            <widget-searching>
                <widget-list list="item in searchResults" show-items="3">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-searching>

            <widget-not-searching>
                <widget-row>
                    <widget-cell>
                        <h2>List of Classifieds</h2>
                    </widget-cell>
                </widget-row>
                <widget-list list="item in model" show-items="5">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell>{{item.price, item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-not-searching>
        </widget-search>
    </div>
	 <widget-row clickable ng-click="showPostAd(item)"> 
        <center> <button type="button">Post Ad</button> </center> 
     </widget-row>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button
        </a>
    </li>
</script>

<!-- VIEW FOR THE SEARCH AND LIST EXAMPLE -->
<script type="text/ng-template" id="details.html">
    <widget-list-controls prev-click="prevItem" next-click="nextItem" original-item="item.value" prev-text="Previous Item"
                          next-text="Next Item"></widget-list-controls>
    <widget-row>
        <widget-cell>
            <h2>{{item.value.title}}</h2>
            <h3>{{item.value.price}}</h3>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <div class="pHighlight">{{item.value.details}}</div>
        </widget-cell>
    </widget-row>
</script>

<!-- Ad Details -->
<script type="text/ng-template" id="adDetails.html">
 <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h2>Post Advertisement</h2>
            </widget-cell>
        </widget-row>
     <widget-row>
            <widget-cell>
                Category:
            </widget-cell>
        </widget-row>
         <div class="category"> 
            <widget-row> 
                <form>
  					<input type="radio" name="category" value="1" checked> Buy and Sell<br>
 					<input type="radio" name="category" value="2"> Tutoring<br>
  					<input type="radio" name="category" value="3"> Housing<br>
                    <input type="radio" name="category" value = "4"> Lost and Found<br>
				</form> 
            </widget-row>
        </div> 
    </div> 
</script>