<script type="text/ng-template" id="main.html">
    <!-- SEARCH AND LIST EXAMPLE -->
    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <h2>Search and List Example</h2>
            </widget-cell>
        </widget-row>
        
        <widget-search 
             label="What do you seek, padawan?" 
             placeholder="Type in a search term you must" 
             search-results-title="Behold"
             data="model" 
             min-char="2" 
             fields="['title','details']">
            <widget-filter 
                    fields="['category']" 
                    filters="[{value:'1',text:'Number 1'},{value:'2',text:'Number 2'}]">
            </widget-filter>

            <widget-searching>
                <widget-list list="item in searchResults" show-items="3">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-searching>

            <widget-not-searching>
                <widget-row>
                    <widget-cell>
                        <h2>Item List</h2>
                    </widget-cell>
                </widget-row>
                <widget-list list="item in model" show-items="3">
                    <widget-row clickable ng-click="showDetails(item)">
                        <widget-cell fill>{{item.title}}</widget-cell>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-row>
                </widget-list>
            </widget-not-searching>
        </widget-search>
    </div>

</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu button
        </a>
    </li>
</script>